<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="vtiger.ProductsTests.CreateProductWithGLAccountWithBaseClassTest"/>
      <class name="vtiger.contactsTests.CreateContactWithBaseClassTest"/>
      <class name="vtiger.OpportunityTests.CreateOpportunityWithContactBaseClassTest"/>
      <class name="vtiger.OrganizationsTests.CeateOrganizationWithBaseClassTest"/>
      <class name="vtiger.CampaignTests.CreateCamapaignWithProductWithBaseClassTest"/>
      <class name="vtiger.OrganizationsTests.CreateNewOrganizationWithDropDownWithBaseClassTest"/>
      <class name="vtiger.contactsTests.CreateContactWithOrganizationWithBaseClassTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
